/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
.container {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}


/* HEADER */
header {
    background-color: #0084FD;
    padding: 15px 0;
}

header nav {
    display: none;
}

/* MAIN */

/* FOOTER */


/* CSS TABLET */
@media screen and (min-width: 768px) {}

/* CSS DESKTOP */
@media screen and (min-width: 992px) {

    header nav {
        display: block;
    }

    header .hamburger-button {
        display: none;
    }
}