/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

:root {
    --color-blue: #0084FD;
    --color-white: #FFFFFF;
}

ul li {
    display: inline-block;
}

main section:nth-of-type(2n) {
    background-color: #9792E4;
}

.button {
    border-radius: 20px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

h2 {
    color: var(--color-blue);
}

/* HEADER */
header .container-header {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--color-blue);
    padding: 15px 0;
}

header nav {
    display: none;
}

header li a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px;
}

header ul li:last-child a {
    background-color: white;
    color: black;
}

/* MAIN */

/* prima sezione */
main section:nth-of-type(1) .my-col {
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    margin: 15px 0;
}

main section:nth-of-type(1) .special-col div:first-child * {
    margin-bottom: 30px;
}

main section:nth-of-type(1) .special-col {
    padding: 30px 15px 0 15px;
}

main section:nth-of-type(1) p {
    line-height: 25px;
}

main section:nth-of-type(1) p+a {
    background-color: var(--color-blue);
    color: white;
}

main section:nth-of-type(1) .special-col div:last-child img {
    width: 100%;
}

/* quarta sezione */
main section:nth-of-type(4) {
    padding-bottom: 15px;
}

main section:nth-of-type(4) .my-col {
    margin-top: 15px;
    background-color: white;
    border-radius: 20px;
}

/* quinta sezione */
main section:nth-of-type(5) {
    padding-top: 20px;
}

/* FOOTER */
footer {
    background-color: #333333;
}

/* CSS TABLET */
@media screen and (min-width: 768px) {

    /* prima sezione */
    main section:nth-of-type(1) .my-row,
    main section:nth-of-type(4) .my-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main section:nth-of-type(1) .my-col {
        width: calc((100% / 3) - 30px);
    }

    main section:nth-of-type(1) .special-col {
        width: calc(((100% / 3) * 2) - 30px);
    }

    main section:nth-of-type(1) .special-col * {
        text-align: left;
    }

    main section:nth-of-type(1) .special-col div:last-child {
        width: 50%;
    }

    /* quarta sezione */
    main section:nth-of-type(4) .my-col {
        width: calc((100% / 2) - 30px);
    }

    /* quinta sezione */
    main section:nth-of-type(5) .my-row {
        display: flex;
        justify-content: center;
    }
}

/* CSS DESKTOP */
@media screen and (min-width: 992px) {

    /* header */
    .container-header {
        width: 70%;
        margin: 0 auto;
    }

    .container {
        width: 70%;
        margin: 0 auto;
    }

    header nav {
        display: block;
    }

    header .hamburger-button {
        display: none;
    }

    /* prima sezione */
    main section:nth-of-type(1) .special-col {
        display: flex;
    }

    main section:nth-of-type(1) .special-col div:first-child {
        width: 60%;
    }

    main section:nth-of-type(1) .special-col div:first-child a {
        padding: 10px 70px;
    }

    main section:nth-of-type(1) .special-col div:last-child {
        width: 40%;
        align-self: flex-end;
    }

    /* seconda sezione */
    main section:nth-of-type(2) .my-row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
    }

    /* quarta sezione */
    main section:nth-of-type(4) .my-col {
        width: calc((100% / 3) - 30px);
    }

}